In [12]:
import pandas as pd
import numpy as np

!git clone https://github.com/MoohShadox/Datascience_Ressources.git

,nom,latitude,longitude,note,prix,furniture_store,laundry,bakery,cafe,home_goods_store,clothing_store,atm,lodging,night_club,convenience_store,restaurant,bar
0,Unopiu,48.866632,2.331637,2.2,-1,1,0,0,0,1,0,0,0,0,0,0,0
1,Olivier Hutzemakers,48.903289,2.339881,-1.0,-1,1,0,0,0,1,0,0,0,0,0,0,0
2,Téodor,48.847633,2.375378,-1.0,-1,1,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
df = pd.read_csv("poi-paris.csv")
df.head(3)

Ce notebook a pour but d'aider a la révision des différentes notions vues lors des TME1-X et Y.
Il présente une façon de revoir une partie des notions qui y sont étudiés et des exercices de synthèses pour s'exercer.

C'est une ressource purement liée a une initiative personnelle du chargé de TME du groupe 11.6.

# Extraction de données

Les premières notions vues en TME servent principalement a **extraire** des données a partir d'un DataFrame, ces notions permettent notamment de:
- Récupérer et afficher les dimensions d'un DataFrame (lignes et colonnes).
- Récupérer et afficher les intitulés des colonnes.
- Décrire les colonnes (nombre de valeurs, moyenne, variance, quartiles etc...)
- Afficher une ou plusieurs colonnes.
- Afficher une ou plusieurs lignes.
- Utiliser le slicing pour afficher une fraction contigue du DataFrame.

#### Exercice: 
Décrivez le DataFrame composé des 5 premières colonnes et des 500 dernières lignes du dataframe **df** défini plus haut.

In [15]:
## A vous de jouer.

         latitude   longitude        note        prix
count  500.000000  500.000000  500.000000  500.000000
mean    48.864284    2.337902    2.533600   -0.968000
std      0.029211    0.052702    2.348809    0.362269
min     48.806230    2.230666   -1.000000   -1.000000
25%     48.841415    2.295367   -1.000000   -1.000000
50%     48.866155    2.340387    3.800000   -1.000000
75%     48.888410    2.375820    4.300000   -1.000000
max     48.915476    2.478696    5.000000    4.000000

# Filtrer les données

Une fois qu'on a accés aux données d'un fichier a travers un DataFrame, on peut être intéressés par une observation partielle de ces données et donc on cherchera a les filtrer, ceci peut concerner:
- Récupérer toutes les valeurs possibles d'une colonne (les modalités d'une variable).
- Filtrer les lignes en fonction d'une condition logique sur les valeurs pour une colonne donnée.
- Utiliser des opérateurs logiques pour combiner des conditions logiques.

#### Exercice: 
Affichez le nombre de bar pour chaque prix possible.

In [ ]:
#A vous de jouer.

# Aggréger les données et les étudier

Les deux premiers points servaient a intéroger les données, les deux qui viennent concernerons plutot l'interprétation des données.

- Calculer des indicateurs statistiqus (Moyennes, Fréquences, Variances, Quartiles ...) 
- Intérpréter les indicateurs statistiques.
- Utiliser ces indicateurs statistiques pour répondre a des énoncés.

#### Exercices: 

- Les bars qui font aussi restaurant sont-ils mieux notés en général ?
- Quels types d'établissement ont les notes les plus dispersées ?
- Le prix est-il corrélé a la distance au centre de Paris ?

In [ ]:
## A vous de jouer.

In [ ]:
## A vous de jouer.

In [ ]:
## A vous de jouer.

# Visualiser les données
Maintenant que nous savons extraire, filtrer et étudier les données pour les interpréter, il faut rendre notre interprétation la plus convaincante possible pour des personnes externes a notre domaine.

Pour se faire on peut recourir a un visuel pour mettre en exergue la dimension des données qu'on souhaite mettre en avant et a ce moment la il faut:
- Identifier le plot a utiliser.
- Lire sa documentation pour comprendre les paramètres qu'il prend et ce qu'ils signifient.
- Extraire les différents composants dont on aura besoin pour l'afficher.
- L'afficher et le commenter.

Si on reprend les trois énoncés précédents on peut par exemple proposer les énoncés suivants: 

#### Exercices: 

- Utilisez un bar plot pour comparer les notes des bars et des bars-restaurants.
- Utilisez un violin plot pour étudier la dispersion des notes pour chaque établissement.
- Utilisez un scatter plot pour étuider la dispersion spatiale des notes dans Paris.

In [ ]:
## A vous de jouer.

In [ ]:
## A vous de jouer.

In [ ]:
## A vous de jouer.

# Ressources additionnels

Des ressources en plus que je trouve intéressantes a lire
- Un guide de Pandas https://medium.com/swlh/the-mastery-of-pandas-i-50156db42125
- Une explication visuelle de comment NumPy fonctionne https://betterprogramming.pub/numpy-illustrated-the-visual-guide-to-numpy-3b1d4976de1d
- Pourquoi il ne faut pas faire de boucles quand on peut utiliser Pandas : Parce que ça peut être 71.803 fois plus lent https://towardsdatascience.com/how-to-make-your-pandas-loop-71-803-times-faster-805030df4f06